* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    position: fixed;
    top: 0;
    /* is there a better way to center a fixed footer? */
    left: calc(100% * 0.05);
    height: 60px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px darkgray solid;
}

h1 {
    margin: 0;
}

.main-section {
    position: relative;
    top: 75px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

/* it's unclear why this is needed */
.about-me-image, .about-me-message {
    position: relative;
    top: 75px;
}

.nav-menu, .nav-logo {
    display: none;
}

.home-message {
    text-align: center;
    line-height: 2.5em;
    font-size: 16px;
}

.home-buttons {
    margin-top: 50px;
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    width: 115px;
    height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 3px black solid;
    background-color: white;
}

button:hover {
    color: white;
    background-color: darkgray;
}

.about-me-image {
    max-width: 600px;
}

.about-me-message {
    /* how do I make this dynamic with the width of the picture? */
    width: 65%;
    max-width: 600px;
    margin-top: 15px;
}

.navEmphasize {
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}

.project-card {
    /* not sure why the below position and top are needed */
    /* position: relative;
    top: 100px; */
    width: 75%;
    border: 2px darkgray solid;
    max-width: 700px;
    margin-bottom: 25px;
}

.project-card h2{
    margin: 0;
}

.project-card-description {
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    /* is there a better way to center a fixed footer? */
    left: calc(100% * 0.05);
    width: 90%;
    min-height: 60px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px darkgray solid;
}

/* What is the right breakpoint for tablets? */
@media (min-width: 728px) {
    .home-buttons {
        width: 600px;
    }

    /* need to revisit this once I figured out what's going on above */
    .about-me-image, .about-me-message {
        position: static;
    }
}

@media (min-width: 1024px) {
    .main-section {
        top: calc(2.5%);
        left: calc(20% + 10px);
        justify-content: center;
        height: 95vh;
        width: calc(80% - 10px);
    }

    header {
        top: calc(2.5%);
        left: 10px;
        flex-direction: column;
        justify-content: space-evenly;
        width: 20%;
        height: 90%;
        border-bottom: none;
        border-right: 1px darkgray solid;
    }    

    .mobile-screen {
        display: none;
    }

    .nav-menu, .nav-logo {
        display: block;
        text-align: center;
        font-size: 1.25em;
        cursor: pointer;
    }

    .home-message {
        font-size: 20px;
    }

    /* need to revisit this once I figured out what's going on above */
    .about-me-image, .about-me-message {
        position: none;
        top: none;
    }

    footer {
        left: 10px;
        /* make sure this has the same width as the header */
        width: 20%;
        border-top: none;
    }
}